{% load static %}
<nav class="navbar navbar-expand-lg navbar-light pb-2 pt-3 py-lg-4 px-5">
	<a class="navbar-brand" href="{% url 'core:home' %}"><h1>Div Telecom</h1></a>

	<button class="navbar-toggler py-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
		<i class="fa-solid fa-bars fs-4"></i>
	</button>

	<div class="collapse navbar-collapse justify-content-between px-3" id="navbar">
		<form class="nav-form form-inline my-2 my-lg-0 mx-auto" method="get" action="{% url 'core:list' %}">
			<input class="form-control nav-inp search" id="search" value="{% if search %}{{ search }}{% endif %}" type="search" name="search" placeholder="Search..." aria-label="Search">
			<!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
		</form>

		<ul class="nav-icons d-flex justify-content-center gap-1">
			{% if user.is_authenticated %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'accounts:profile-info' %}" id="profile-link">
					<i class="fa-regular fa-user"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'accounts:wishlist' %}">
					<i class="fa-regular fa-heart"></i>
				</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{% url 'accounts:cart' %}">
					<i class="fa-regular fa-cart-shopping"></i>
					{% if user.cart.products.exists %}
					<span id="cart-items-count">{{ user.cart.count }}</span>
					{% endif %}
				</a>
			</li>
			{% else %}
			<li class="nav-item">
				<a class="nav-link" href="{% url 'accounts:login' %}">
					<!-- <img src="{% static 'img/person.svg' %}" alt=""> -->
					<i class="fa-regular fa-user"></i>
					Log in
				</a>
			</li>
			{% endif %}
			<li class="nav-item theme-toggle">
				<a class="nav-link">
					<i class="fa-solid fa-circle-half-stroke"></i>
				</a>
			</li>
		</ul>
	</div>
</nav>
<li class="nav-item d-none text-center text-decoration-underline">
	<a class="nav-link" href="{% url 'core:list' %}">View all products</a>
</li>
<ul class="d-none d-lg-flex nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link" href="{% url 'core:home' %}">New</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'core:list' %}">All products</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'core:list' %}?type=Phone">Phones</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'core:list' %}?type=Tablet">Tablets</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'core:list' %}?type=Watch">Watches</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'core:list' %}?type=Headphones">Headphones</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'core:list' %}?category=Accessories">Accessories</a>
	</li>
	<li class="nav-item">
		<a class="nav-link" href="{% url 'core:sales' %}">Sales</a>
	</li>
</ul>

