Django==5.2.1
django-colorfield==0.14.0
django-cloudinary-storage>=0.3,<0.4
django-debug-toolbar==5.2.0
djangorestframework==3.16.0
gunicorn>=23.0,<24.0
pillow==11.2.1
python-decouple==3.8
whitenoise>=6.9,<7.0
