@font-face {
    font-family: 'Euclid Circular';
    src: url('../fonts/Euclid\ Circular/EuclidCircularA-Medium.ttf');
}
body{
    font-family: 'Euclid Circular';
}

.nav-tabs{
    border-bottom: 1px solid #2CE59B;
    padding-left: 60px;
    padding-bottom: 37px;
}
.nav-item{
    margin-right: 25px !important;
    height: 8px !important;
    font-size: large !important;
}
.nav-link{
    border: none !important;
}
.nav-link.active{
    border: none !important;
    border-bottom: 2px solid #2CE59B !important;
    color: #2CE59B !important;
}

.card {
    border: transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cards-container{
    padding: 75px;
}

.storage{
    width: 76px !important;
    text-align: center !important;
    padding-top: 5px !important;
    height: 36px !important;
    background-color: #F2F2F2 !important;
    border-radius: 8px !important;
    border: none !important;
    margin-right: 22px !important;
}

.storage.active{
    background-color: #4F4F4F !important;
    color: white !important;
}

#comment-part{
    margin-bottom: 140px !important;
    display: none;
}

.heart-cont{
    display: flex !important;
    justify-content: end !important;
}

.heart-cont div{
    border: 1px solid #F2F2F2 !important;
    border-radius: 50% !important;
    height: 40px !important;
    width: 40px !important;
    margin-top: 10px !important;
    margin-right: 10px !important;
}

@media (min-width: 361px) and (max-width: 767px) {
    .navbar {
        padding-left: 20px !important;
    }
    .nav-form {
        margin-left: 0 !important;
    }
    .nav-icons {
        margin: 0 auto !important;
    }
    .cards-container {
        padding: 25px !important;
    }
    .col-md-3 {
        margin-bottom: 70px;
    }
    .banners-inner {
        padding: 25px !important;
    }
    .cards-container2 {
        padding: 25px !important;
    }
    .nav-tabs {
        display: none;
    }
    .nav-inp {
        width: 250px !important;
    }
    .second-part {
        display: none;
    }
    .terms {
        margin-left: 0 !important;
        width: auto !important;
    }
    .submit-btn {
        width: 100px;
    }
    .first-part {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .fullname-inp {
        width: 303px !important;
    }
    .whole-input {
        width: 303px !important;
        margin: 0 auto !important; 
        text-align: start;
    }
    .fullname-label {
        width: 86px;
    }
    .email-label {
        width:50px;
    }
    .number-label {
        width: 100px;
    }
    .password-t-label {
        width: 92px;
    }
    .submit-btn {
        width: 303px !important;
    }
    label {
        margin-right: 0 !important;
    }
    .social {
        width: 50%;
    }
    .social-span {
        font-size: 12px;
    }
    .soc-item {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .first-list-part {
        padding-left: 0 !important;
        display: none;
    }
    #accordion {
        width: 100% !important;
    }
    .list-row {
        padding: 0 !important;
        padding-top: 42px !important;
    }
    .card {
        margin: 0 auto;
    }
    .list-path {
        display: none !important;
    }
    .web-drop {
        display: none;
    }
    .mobile-tabs {
        display: flex !important;
    }
    .inner-payment {
        display: block !important;
    }
    .message-payment {
        width: 279px !important;
    }
    .payment-card {
        width: auto !important;
    }
    
}
@media (max-width: 360px) {
    .navbar {
        padding-left: 20px !important;
    }
    .nav-form {
        margin-left: 0 !important;
    }
    .nav-icons {
        margin: 0 auto !important;
    }
    .cards-container {
        padding: 25px !important;
    }
    .col-md-3 {
        margin-bottom: 70px;
    }
    .banners-inner {
        padding: 25px !important;
    }
    .cards-container2 {
        padding: 25px !important;
    }
    .nav-tabs {
        display: none;
    }
    .nav-inp {
        width: 250px !important;
    }
    .second-part {
    display: none;
    }
    .terms {
        margin-left: 0 !important;
        width: auto !important;
    }
    .submit-btn {
        width: 100px;
    }
    .first-part {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .fullname-inp {
        width: 303px !important;
    }
    .whole-input {
        width: 303px !important;
        margin: 0 auto !important;
        text-align: start; 
    }
    .fullname-label {
        width: 86px;
    }
    .email-label {
        width:50px;
    }
    .number-label {
        width: 100px;
    }
    .password-t-label {
        width: 92px;
    }
    .submit-btn {
        width: 303px !important;
    }
    label {
        margin-right: 0 !important;
    }
    .social {
        width: 50%;
    }
    .social-span {
        font-size: 12px;
    }
    .soc-item {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .first-list-part {
        padding-left: 0 !important;
        display: none;
    }
    #accordion {
        width: 100% !important;
    }
    .list-row {
        padding: 0 !important;
        padding-top: 42px !important;
    }
    .card {
        margin: 0 auto;
    }
    .list-path {
        display: none !important;
    }
    .web-drop {
        display: none;
    }
    .mobile-tabs {
        display: flex !important;
    }
    .inner-payment {
        display: block !important;
    }
    .message-payment {
        width: 279px !important;
    }
    .payment-card {
        width: auto !important;
    }

}
@media (min-width: 768px) and (max-width: 841px) {
    .navbar {
        padding-left: 20px !important;
    }
    .nav-form {
        margin-left: 0 !important;
    }
    .nav-icons {
        margin: 0 auto !important;
    }
    .cards-container {
        padding: 25px !important;
    }
    .col-md-3 {
        margin-bottom: 70px;
    }
    .banners-inner {
        padding: 25px !important;
    }
    .cards-container2 {
        padding: 25px !important;
    }
    .nav-tabs {
        display: none;
    }
    .nav-inp {
        width: 250px !important;
    }
    .second-part {
    display: none;
    }
    .terms {
        margin-left: 0 !important;
        width: auto !important;
    }
    .submit-btn {
        width: 100px;
    }
    .first-part {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .fullname-inp {
        width: 303px !important;
    }
    .whole-input {
        width: 303px !important;
        margin: 0 auto !important; 
        text-align: start;
    }
    .fullname-label {
        width: 86px;
    }
    .email-label {
        width:50px;
    }
    .number-label {
        width: 100px;
    }
    .password-t-label {
        width: 92px;
    }
    .submit-btn {
        width: 303px !important;
    }
    label {
        margin-right: 0 !important;
    }
    .social {
        width: 50%;
    }
    .social-span {
        font-size: 12px;
    }
    .soc-item {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    .first-list-part {
        padding-left: 0 !important;
        display: none;
    }
    #accordion {
        width: 100% !important;
    }
    .list-row {
        padding: 0 !important;
        padding-top: 42px !important;
    }
    .card {
        margin: 0 auto;
    }
    .list-path {
        display: none !important;
    }
    .web-drop {
        display: none;
    }
    .mobile-tabs {
        display: flex !important;
    }
    .inner-payment {
        display: block !important;
    }
    .message-payment {
        width: 279px !important;
    }
    .payment-card {
        width: auto !important;
    }

}

