{% load static %}
<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid py-3 py-lg-4 px-5">
		<a class="navbar-brand fs-1" href="{% url 'core:home' %}">
			Div Telecom
		</a>
	
		<!-- <button class="navbar-toggler py-2" type="button" data-bs-toggle="collapse" data-bs-target="#search" aria-controls="searchToggler" aria-expanded="false" aria-label="Toggle search">
			<i class="fa-solid fa-search fs-4"></i>
		</button> -->
	
		<button class="navbar-toggler py-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
			<i class="fa-solid fa-bars fs-4"></i>
		</button>
	
		<div class="collapse navbar-collapse justify-content-between px-3" id="navbar">
			<form class="d-flex justify-content-center my-2 my-lg-0 mx-auto" method="get" action="{% url 'core:list' %}">
				<input class="form-control search rounded-4" id="search" value="{% if search %}{{ search }}{% endif %}" type="search" name="search" placeholder="Search..." aria-label="Search">
				<!-- <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button> -->
			</form>
	
			<ul class="nav-icons d-flex justify-content-center gap-1">
				{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'accounts:profile-info' %}" id="profile-link">
						<i class="fa-regular fa-user"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'accounts:wishlist' %}">
						<i class="fa-regular fa-heart"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'accounts:cart' %}">
						<i class="fa-regular fa-cart-shopping"></i>
						{% if user.cart.products.exists %}
						<span class="cart-items-count badge bg-primary rounded-circle p-1">{{ user.cart.count }}</span>
						{% endif %}
					</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'accounts:login' %}">
						<i class="fa-regular fa-user"></i>
						Log in
					</a>
				</li>
				{% endif %}
				<li class="nav-item theme-toggle">
					<a class="nav-link btn">
						<i class="fa-solid fa-circle-half-stroke"></i>
					</a>
				</li>
			</ul>
		</div>
	</div>
</nav>

<div class="container-fluid p-0">
	<ul class="d-none d-lg-flex nav nav-tabs px-5">
		<li class="nav-item">
			<a class="nav-link" href="{% url 'core:home' %}">New</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'core:list' %}">All products</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'core:list' %}?type=Phone">Phones</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'core:list' %}?type=Tablet">Tablets</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'core:list' %}?type=Watch">Watches</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'core:list' %}?type=Headphones">Headphones</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'core:list' %}?category=Accessories">Accessories</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'core:sales' %}">Sales</a>
		</li>
	</ul>
</div>

<!-- <a class="nav-link d-none text-center text-decoration-underline" href="{% url 'core:list' %}">View all products</a> -->
