{% load static %}
<nav class="navbar navbar-expand-lg navbar-light">
	<div class="container-fluid pt-3 py-lg-4 px-5">
		<a class="navbar-brand fs-1" href="{% url 'core:home' %}">
			Project <span class="text-primary">X</span>
		</a>

		<button class="navbar-toggler py-2" type="button" data-bs-toggle="collapse" data-bs-target="#navbar" aria-controls="navbarToggler" aria-expanded="true" aria-label="Toggle navigation">
			<i class="fa-solid fa-bars fs-4"></i>
		</button>

		<div class="navbar-collapse justify-content-between px-sm-5 px-lg-3 show" id="navbar">

			<ul class="nav-icons d-flex justify-content-center gap-1">
				{% if user.is_authenticated %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'accounts:profile-info' %}" id="profile-link">
						<i class="fa-regular fa-user"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'accounts:wishlist' %}">
						<i class="fa-regular fa-heart"></i>
					</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="{% url 'accounts:cart' %}">
						<i class="fa-regular fa-cart-shopping"></i>
						{% if user.cart.products.exists %}
						<span class="cart-items-count badge bg-primary rounded-circle p-1">{{ user.cart.count }}</span>
						{% endif %}
					</a>
				</li>
				{% else %}
				<li class="nav-item">
					<a class="nav-link" href="{% url 'accounts:login' %}">
						<i class="fa-regular fa-user"></i>
						Log in
					</a>
				</li>
				{% endif %}
				<li class="nav-item theme-toggle">
					<a class="nav-link btn">
						<i class="fa-solid fa-circle-half-stroke"></i>
					</a>
				</li>
			</ul>

			<form id="search-form" class="order-lg-first d-flex justify-content-center mt-3 mb-2 my-lg-0 mx-auto" method="get" action="{% url 'core:list' %}{{ category }}">
				<div class="input-group">
					<input class="form-control search rounded-start-4 border-end-0" id="search" value="{% if search %}{{ search }}{% endif %}" type="search" name="search" placeholder="Search..." aria-label="Search">
					<button class="input-group-text bg-body-secondary rounded-end-4 border-start-0" type="submit">
						<i class="fas fa-search"></i>
					</button>
				</div>
			</form>

		</div>
	</div>
</nav>

<div class="container-fluid p-0">
	<ul class="nav nav-tabs flex-nowrap overflow-y-hidden px-sm-2 px-lg-5">
		<li class="nav-item">
			<a class="nav-link" href="{% url 'core:home' %}">New</a>
		</li>
		<li class="nav-item text-primary">
			<a class="nav-link" href="{% url 'core:list' 'sales' %}">Sales</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'core:list' %}">All products</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'core:list' 'phones' %}">Phones</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'core:list' 'tablets' %}">Tablets</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'core:list' 'smartwatches' %}">Smartwatches</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'core:list' 'headphones' %}">Headphones</a>
		</li>
		<li class="nav-item">
			<a class="nav-link" href="{% url 'core:list' 'accessories' %}">Accessories</a>
		</li>
	</ul>
</div>