
h3 .cart-items-count::before {
    content: '(';
}
h3 .cart-items-count::after {
    content: ')';
}

.total-price p {
    font-size: 1.25rem;
}

.total-price .old-price {
    text-decoration: none;
}

.total-price {
    margin-top: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: #64646f33 0px 7px 30px 0px;
    border-radius: 8px;
    margin-bottom: 30px;
}

.cart-item a:has(img) {
    flex: 0 1 150px;
}

#cart-empty {
    color: #BDBDBD;
}

@media (min-width: 767px) {
    .payment-card {
        max-width: 345px;
    }
}