
main {
    padding: 75px;
    padding-top: 26px;
}

.total-price p {
    font-size: 1.25rem;
}

.total-price .old-price {
    text-decoration: none;
}

.total-price {
    margin-top: 10px;
}

.cart-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: #64646f33 0px 7px 29px 0px;
    border-radius: 8px;
    margin-bottom: 30px;
    padding-right: 10px;
}

.cart-item img {
    max-width: 150px;
}

.cart-item .info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payment-card {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    width: 345px;
    padding: 15px;
    padding-bottom: 20px;
}

#checkout-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #2DD06E;
    border: 1px solid #2DD06E;
    border-radius: 8px;
    height: 48px;
    padding: 16px 32px;
}

footer {
    margin-top: 150px;
}

@media screen and (max-width: 768px)  {
    main {
        padding: 0 !important;
    }


    .btn-container {
        flex-direction: column;
        padding-top: 10px !important;
    }
}
