.card-header {
    background-color: transparent;
    padding-left: 0 !important;
    border-bottom: 1px solid #828282;
    border-radius: 0 !important;
}

.payment-card{
    height: 309px;
    width: 344px;
    padding: 35px;
    margin: 0 auto;
}
.payment-card h5{
    font-size: 20px;
    padding-bottom: 16px;
    color: #4F4F4F;
}

.btn-container{
    display: flex;
    justify-content: space-between;
}

button.payment-method{
    width: 248px;
    height: 48px;
    border-radius: 8px;
    border: 1px solid #E0E0E0;
    background-color: rgba(255, 255, 255, 0.8);
}
.payment-method.active{
    border: 2px solid cyan;
    background: #ffffff;
}

@media (min-width: 361px) and (max-width: 767px) {
    .payment-methods-container{
        padding-left: 0 !important;
        padding-right: 0 !important;
    }
    button.payment-method{
        width: auto;
    }
}