[data-bs-theme=dark] {
    --bs-body-color: #fff;
    --bs-body-color-rgb: 255, 255, 255;
    --bs-body-bg: #1d2a35;
    --bs-body-bg-rgb: 29, 42, 53;
    --bs-secondary-bg: #243341;
    --bs-secondary-bg-rgb: 36, 51, 65;
    --bs-tertiary-bg: #3a5169;
    --bs-tertiary-bg-rgb: 58, 81, 105;
    --bs-nav-link-color: var(--bs-body-color);
    --bs-border-color: #3a5169;
    --bs-box-shadow: 0 .5rem 1.5rem rgba(100, 100, 100, 0.2);
    
    .form-control { background: var(--bs-secondary-bg); }
    
    nav .theme-toggle i { rotate: 180deg; }
    
    #hero-light { display: none; }
    #hero-dark { display: initial; }
    
    .dropdown-menu { --bs-dropdown-bg: #1d2124; }
}