[data-bs-theme=light] main { --bs-border-color: #C4C4C4; }

#swiper {
    height: 400px;
    .swiper-pagination-bullet {
        background: transparent no-repeat center/cover;
        border-radius: 0;
        height: 75px;
        width: 75px;
        max-width: 20vw !important;
    }
}

hr {
    color: var(--bs-border-color);
    opacity: .5;
}

.color, .storage { transition: .3s; }
#color-selector .color { cursor: pointer; }

.color {
    width: 2rem;
    height: 2rem;
    &.active {
        border-width: 2px !important;
        box-shadow: 0 0 0 2px #007BFF;
    }
}

.storage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 36px;
    &.active {
        color: white;
        background-color: #4F4F4F;
    }
}

#quantity {
    user-select: none;
    -webkit-user-select: none;
    button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 2rem;
        height: 2rem;
    }
}

#product-tabs button:not(.active) { color: #BDBDBD; }

.specifications {
    max-width: 95%;
    margin-bottom: 2rem;
    p, span { color: #828282; }
}

.stars {
    color: #F2994A;
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

#comment-form {
    max-width: 800px;
    .stars > * { cursor: pointer; }
    textarea {
        background-color: var(--bs-secondary-bg);
        resize: none;
        border: none;
    }
}

.comment .col-md-3 {
    border-color: var(--bs-border-color);
    border-style: solid;
    border-bottom-width: 1px;
}
.comment-info p { color: #828282; }

p {
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media (min-width: 768px) {
    #swiper .swiper-pagination-bullet {
        height: 50px;
        width: 50px;
    }
    .comment .col-md-3 { border-width: 0 1px 0 0; }
}