
.color, .storage {
    cursor: pointer;
    transition: .3s;
}

.color {
    width: 32px;
    height: 32px;
}

.color.active {
    border-width: 2px !important;
    outline: 2px solid blue;
}

.storage {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 36px;
}

.storage.active {
    color: white;
    background-color: #4F4F4F;
}

#quantity {
    user-select: none;
    -webkit-user-select: none;
}

#quantity button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
}

.product-tabs button {
    font-size: 1.25rem;
}

#comment-button {
    color: #BDBDBD;
}

.specifications {
    max-width: 95%;
    margin-bottom: 32px;
}

.specifications h2 {
    font-size: 20px;
}

.specifications div {
    display: flex;
    justify-content: space-between; 
    padding-left: 16px;
    padding-top: 24px;
    padding-bottom: 16px;
}

.specifications span, .specifications p {
    color: #828282;
}

#comment-part {
    margin-bottom: 140px !important;
    display: none;
}

.stars {
    cursor: default;
    user-select: none;
    -webkit-user-select: none;
}

#comment-form {
    display: flex;
    flex-direction: column;
    gap: 32px;
    text-align: center;
    max-width: 800px;
    margin: 48px auto;
}

#comment-form .stars img {
    cursor: pointer;
}

#comment-form textarea {
    background-color: var(--bs-secondary-bg);
    resize: none;
    border: none;
}

#comments {
    padding: 2rem 1rem;
    border-bottom: 1px solid #C4C4C4;
    border-top: 1px solid #C4C4C4;
}

.comment-info p {
    color: #828282;
}

.comment .col-md-9 {
    padding-left: 2rem;
}

p {
    max-width: 100%;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

@media (min-width: 768px) {
    .comment .col-md-3 {
        border-color: #C4C4C4;
    }
}