@font-face {
    font-family: 'Euclid Circular';
    src: url('../fonts/Euclid\ Circular/EuclidCircularA-Bold.ttf');
    font-weight: 700;
}
@font-face {
    font-family: 'Euclid Circular';
    src: url('../fonts/Euclid\ Circular/EuclidCircularA-SemiBold.ttf');
    font-weight: 600;
}
@font-face {
    font-family: 'Euclid Circular';
    src: url('../fonts/Euclid\ Circular/EuclidCircularA-Medium.ttf');
    font-weight: 500;
}