input[type=submit]{
    background-color: #2DD06E !important;
    border: none !important;
    border-radius: 8px !important;
    padding: 1px !important;
    color: white !important;
    margin: 0 auto;
}

.profile-form, .address-form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 24px;
}
.profile-form div.d-flex, .address-form div.d-flex{
    gap: 24px;
}
.profile-form div.d-flex div, .address-form div.d-flex div{
    width: 100%;
}
.profile-form textarea, .address-form textarea{
    width: 100% !important;
}

@media (min-width: 361px) and (max-width: 767px) {
    .profile-form div.d-flex, .address-form div.d-flex{
        flex-direction: column;
    }
    .profile-form input, .address-form input{
        width: 100% !important;
    }
    .profile-form div.d-flex div, .address-form div.d-flex div{
        margin-right: 0px;
    }
}