.btn-view-product{
    display: flex;
    align-items: center;
}
.total-price{
    padding-top: 32px;
    display: flex;
    justify-content: space-between;
}
.blocks-cont{
    background-color: white;
    padding-left: 32px;
    padding-right: 32px;
    border-radius: 8px;
}
ul.details{
    padding-left: 16px;
    list-style: none;
}
ul.details li{
    margin-bottom: 12px;
}
ul.details span{
    color: #1D2123;
}
ul.payment-details span{
    color: #828282 !important;
}
.order-block{
    border-bottom: 1px solid #BDBDBD;
    padding-top: 32px;
}
.order-item{
    display: flex;
    padding-top: 22px !important;
}
.order-item .product-info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
}
.order-item .card-img-top{
    width: 215px;
}
.info{
    display: flex;
    gap: 30px;
    margin-bottom: 24px;
}
.info span{
    color: #828282;
    font-size: 12px;
}
.info p{
    font-size: 14px;
}
.product-info p{
    margin-bottom: 0 !important;
}
