
main {
    background-color: var(--bs-secondary-bg);
}

main input {
    min-height: 3rem;
}
main input, main textarea {
    border: none;
}
textarea {
    width: 592px;
    height: 80px;
    padding: .875rem 0 0 1rem;
    resize: none;
}

.info span:first-child {
    font-size: .75rem;
    color: rgba(var(--bs-body-color-rgb), 0.71);
}