@font-face {
    font-family: 'Euclid Circular';
    src: url('../fonts/Euclid\ Circular/EuclidCircularA-Medium.ttf');
}
body {
    font-family: 'Euclid Circular';
    color: #4F4F4F;
}

.nav-tabs {
    gap: 2vw !important;
}
.nav-tabs {
    border-color: #2CE59B;
    padding: 0 0 1.9rem 60px;
}
.nav-tabs .nav-item {
    --bs-nav-link-padding-x: 0;
    font-size: large;
    height: 8px;
}

.nav-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-item img {
    height: 24px !important;
    width: 24px !important;
}

#cart-items-count {
    color: white;
    background-color: #2DD06E;
    border-radius: 50%;
    padding: 1px 5px;
    font-size: .9em;
}

.nav-link {
    border: none;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    padding: 5px 10px;
    color: black;
    transition: none;
}

.nav-link.active {
    border: none !important;
    border-bottom: 2px solid #2CE59B !important;
    background: rgba(0, 0, 0, 0.034) !important;
    /* background: linear-gradient(90deg, rgba(255,255,255,0.5) 0%, rgba(214,214,214,1) 50%, rgba(255,255,255,0.5) 100%); */
    color: #2CE59B !important;
}

.hero {
    width: 100%;
    max-height: 500px;
    object-fit: cover;
}

.card {
    border: transparent;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.cards-container {
    padding: 75px;
}

p.list-path {
    margin-bottom: 42px !important;
}

p.list-path span {
    color: #828282;
}

p.list-path img {
    width: 9px !important;
    margin-top: -2px !important;
    margin-left: 8px !important;
    margin-right: 8px !important;
}

div.no-products {
    margin-top: 100px !important;
    margin-bottom: 100px !important;
    text-align: center;
}
.no-products h1 {
    text-align: center;
    color: #4F4F4F;
    margin-bottom: 50px;
}

.prices {
    margin-top: 20px;
    line-height: 24px;
    border-bottom: 1px solid #F2F2F2;
    padding-bottom: 12px;
}

.price, #price {
    color: #DB2C66 !important;
    font-size: 1.25rem;
}

.old-price, #old-price {
    font-size: 1rem;
    text-decoration: line-through;
    margin-right: 10px;
    color: gray;
}

.banners-inner div div div, .banners-inner div div div img {
    width: 100% !important;
    border-radius: 8px !important;
}

.services div div.row h4 {
    font-size: 1.25rem;
    margin-bottom: 24px;
}

.services div div.row img {
    margin-bottom: 40px;
}

.services div div.row p.icon-texts {
    max-width: 320px;
    margin: 0 auto;
}

.product a {
    color: black;
    text-decoration: none;
    float: left;
}

.product .card-img-top {
    max-height: 200px;
    object-fit: cover;
}

.product .card-title {
    display: flex;
    max-width: 194px;
    margin-right: 0;
}

.heart-cont {
    float: right !important;
    user-select: none;
    -webkit-user-select: none;
}

.heart-cont button {
    background: transparent;
    border: 1px solid #F2F2F2 !important;
    border-radius: 50% !important;
    height: 40px !important;
    width: 40px !important;
    margin: 10px;
}

input.form-control {
    width: 360px !important;
    background: #F2F2F2 !important;
    border-radius: 8px !important;
    height: 48px !important;
    border: none !important;
    padding-left: 16px !important;
}

input#search {
    color: #4F4F4F !important;
    width: 40vw !important;
    height: 40px !important;
    border: 1px solid #e0e0e0 !important;
    border-radius: 7px !important;
}

.user-form {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-form form h3 {
    font-size: 20px;
    margin-bottom: 36px;
    text-align: center;
}

.user-form form p {
    color: #BDBDBD;
    margin-top: 16px;
    text-align: center;
}

.submit-btn {
    margin-top: 40px !important;
    width: 359px !important;
    height: 48px !important;
    background: #2DD06E !important;
    border-radius: 8px !important;
    color: white !important;
    border: none !important;
}

.submit-btn[disabled] {
    background-color: #2dd06e67 !important;
}

button[disabled] {
    cursor: not-allowed !important;
}

ul.form-errors {
    list-style: none;
    padding: 0;
    margin: 10px 0 -10px 0;
}

ul.form-errors li {
    width: 350px;
    color: red;
}

ul.form-errors li::before {
    content: "✖";
    margin-right: 10px;
}

footer ul {
    display: inline-flex;
    gap: 10px;
    padding: 0;
    list-style: none;
}

footer a {
    /* color: white; */
    font-weight: 400;
}