{% extends 'profile-base.html' %}
{% load static %}

{% block title %}Shipping Address - {% endblock title %}

{% block profile-content %}

    <div class="text-center text-lg-start py-3">
        <h4 class="d-md-none mb-3">My Account</h4>
        <h5>Shipping Address</h5>
    </div>

    <form class="bg-body-tertiary col-lg-10 col-xl-9 p-4" method="post">
        {% csrf_token %}
        <div class="row gy-4 pb-4">
            <div class="col-md-6">
                <label for="address">Address<span class="text-danger">*</span></label>
                {{ form.address }}
                {{ form.errors.address }}
            </div>
            <div class="col-md-6">
                <label for="house">Your house/apartment number<span class="text-danger">*</span></label>
                {{ form.house }}
                {{ form.errors.house }}
            </div>
            <div class="col-12">
                <label for="instructions">Additional instructions for delivery</label>
                {{ form.instructions }}
                {{ form.errors.instructions }}
            </div>
        </div>

        <input class="btn btn-primary px-5" type="submit" value="Submit">
    </form>

{% endblock profile-content %}
