{% extends 'base.html' %}
{% load static %}

{% block title %}{{ object }} - {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
{% endblock css %}

{% block content %}
<main class="container px-2 px-sm-0">

    <div class="row pt-5">
        <div class="col-lg-6">
            <img class="w-100 object-fit-contain rounded" src="{{ object.image.url }}" alt="">
        </div>

        <div class="col-lg-6 pt-2">
            <h2>{{ object.product.name }}</h2>

            <div class="d-flex align-items-baseline">
                {% if object.old_price %}
                    <span class="old-price text-decoration-line-through me-2" id="old-price" >{{ object.old_price }}</span>
                {% endif %}
                <span class="price" id="price">{{ object.final_price }}</span>
            </div>

            {% if object.color %}
            <div class="d-flex align-items-center py-4">
                <h6 class="me-3">
                    Color: <span class="ms-2">{{ object.color.name }}</span>
                </h6>
                <div class="color active rounded-circle border border-light"
                    style="background-color: {{ object.color.color }};">
                </div>
            </div>
            {% endif %}

            {% if object.storage %}
            <div class="d-flex align-items-center gap-3 pb-4">
                <h6>Storage: </h6>
                <div class="storage active border-0 rounded">{{ object.storage.size_format }}</div>
            </div>
            {% endif %}

            <div class="d-flex align-items-baseline gap-3 pb-4">
                <h6>Quantity: </h6>
                <h4>x{{ object.quantity }}</h4>
            </div>

            <hr class="my-1" />

            <div class="d-flex flex-column flex-sm-row gap-4 pt-4">
                <a href="{% url 'core:detail' object.product.id %}" class="btn btn-primary py-2 px-4" target="_blank">
                    <span>View product</span>
                    <i class="far fa-arrow-up-right-from-square ms-1"></i>
                </a>

                <button class="btn btn-outline-danger py-2" data-bs-toggle="modal" data-bs-target="#remove-from-cart-modal">
                    <i class="far fa-cart-shopping me-3"></i>
                    <span>Remove from cart</span>
                </button>

                <div class="modal fade" id="remove-from-cart-modal" tabindex="-1" aria-labelledby="remove-from-cart-modal-label" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="remove-from-cart-modal-label">Remove from cart</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to remove this product from your cart?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="button" class="btn btn-danger" id="remove-from-cart">Remove</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <section class="mt-4 py-4">
        <h4 class="mb-2">Specifications</h4>
        <div class="border-top pt-4">
            <div class="col-md specifications row px-3">
                <h5 class="mb-3">Specifications</h5>
                <div class="d-flex justify-content-between p-3 col-lg-6">
                    <span>Brand</span>
                    <span>{{ object.product.brand }}</span>
                </div>
                {% for key, value in object.product.specifications %}
                    <div class="d-flex justify-content-between p-3 col-lg-6">
                        <span>{{ key }}</span>
                        <span>{{ value }}</span>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>

</main>
{% endblock content %}

{% block js %}
<script>
    $('#remove-from-cart').on('click', () => {
        $.ajax({
            url: "{% url 'accounts_api:cart-remove' object.id %}",
            type: 'DELETE',
            success() {
                location.href = "{% url 'accounts:cart' %}";
            }
        });
    });
</script>
{% endblock js %}