{% extends 'base.html' %}
{% load static %}

{% block title %}Cart - {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/cart.css' %}???">
{% endblock css %}

{% block content %}

<main class="container p-5 px-md-0">

	<div class="d-flex justify-content-center mb-5">
		<h2> My cart
			{% if cart.products.exists %}
				<span class="cart-items-count">{{ cart.products.count }}</span>
			{% endif %}
		</h2>
		{% if cart.products.exists %}
		<button id="cart-clear-btn" class="btn btn-dark ms-auto">
			Clear cart
		</button>
		{% endif %}
	</div>

{% if cart.products.exists %}
	<div class="row">
		{% for i in cart.products.all %}
		<div id="{{ i.id }}" class="col-12 cart-item d-flex flex-column flex-md-row row-gap-2 pb-3 pb-md-0 px-0">
			<a class="d-flex h-100" href="{% url 'accounts:cart-detail' i.id %}">
				<img class="w-100 object-fit-cover" src="{{ i.image.url }}" alt="{{ i.title }}">
			</a>

			<a href="{% url 'accounts:cart-detail' i.id %}">
				<div class="ps-2">
					<h2>{{ i.product }}</h2>
					<div class="pb-1">
						<span class="price">
							{{ i.final_price }} $
						</span>
	
						<br class="d-lg-none" />
	
						{% if i.color %}
						<span>
							Color: {{ i.color.color_name }},
						</span>
						{% endif %}
	
						{% if i.storage %}
						<span>
							Storage: {{ i.storage.size_format }}
						</span>
						{% endif %}
					</div>
				</div>
			</a>

			<div class="d-flex flex-lg-row justify-content-between align-items-center ms-md-auto">
				<div class="d-flex align-items-center gap-2">
					<button class="btn" onclick="changeQuantity('{{ i.id }}', -1)">
						<img src="/static/img/minus.svg" alt="">
					</button>
					<span class="counter">{{ i.quantity }}</span>
					<button class="btn" onclick="changeQuantity('{{ i.id }}', 1)">
						<img src="/static/img/plus.svg" alt="">
					</button>
				</div>
	
				<a class="d-none d-lg-block" href="{% url 'accounts:cart-detail' i.id %}">View details»</a>
				<button class="btn" onclick="removeItem('{{ i.id }}')">
					<img style="height: 30px;" src="{% static 'img/remove.svg' %}?" alt="">
				</button>
			</div>
		</div>
		{% endfor %} 
	</div>

	<div class="card col-md-5 col-lg-4 col-xl-3 d-flex align-items-center justify-content-center mt-4 p-3">

		<div class="total-price">
			{% if cart.discount %}
			<p>Discount: <span class="old-price">–{{ cart.discount }} $</span></p>
			<hr>
			{% endif %}
			<p>Total price: <span class="price">{{ cart.total_price }} $</span></p>
		</div>

		<a class="btn btn-primary" href="{% url 'accounts:checkout' %}">
			Checkout
		</a>

	</div>

	<div style="display: none;" id="cart-empty" class="no-items">
		<img src="{% static 'img/no-items.svg' %}" alt="">
		<h5 class="mt-4">Your cart is empty</h5>
	</div>

{% else %}
	<div id="cart-empty" class="no-items">
		<img src="{% static 'img/no-items.svg' %}" alt="">
		<h5 class="mt-4">Your cart is empty</h5>
	</div>
{% endif %}

</main>

{% endblock content %}

{% block js %}
<script src="{% static 'js/cart.js' %}???"></script>
{% endblock js %}