{% extends 'profile-base.html' %}
{% load static %}

{% block title %}Orders - {% endblock title %}

{% block profile-css %}
<style>
    .order {
        .card { --bs-card-border-radius: 1rem; }

        img { background: white; }
        img:first-of-type { border-top-left-radius: var(--bs-card-border-radius); }
        img.h-100:first-child,
        img.col-sm-12:first-child,
        img.col-6:nth-child(2) { border-top-right-radius: var(--bs-card-border-radius); }

        .img-wrap .g-0:not(:has(img:nth-of-type(3))) img { height: 50%; }
        .img-wrap .g-0:has(.col-sm-12:nth-of-type(3), .col-6:nth-of-type(5)) img { height: 33.33%; }
    }
    /* #empty-orders { color: #BDBDBD; } */

    @media (min-width: 576px) {
        .order {
            .card { max-height: 18rem; }

            .img-wrap { height: 100%; }
            img {
                border-top-right-radius: 0 !important;
                &:not(.col-6):last-of-type,
                &.col-6:nth-child(5) { border-bottom-left-radius: var(--bs-card-border-radius); }
            }
        }
    }
</style>
{% endblock profile-css %}

{% block profile-content %}

    <div class="text-center text-lg-start py-3">
        <h4 class="d-md-none mb-3">My Account</h4>
        <h5>Orders</h5>
    </div>

    <div class="row gy-4 pe-lg-1 pb-3">
        {% for order in orders %}
        <div class="col-md-6 order">
            <div class="card h-100">
                <div class="row g-0 h-100">

                    <div class="img-wrap col-sm-5 d-flex">
                    {% if order.products.count == 1 %}
                        <div class="d-flex w-100">
                            <img class="object-fit-cover" src="{{ order.products.first.image.url }}" alt="{{ order }}">
                        </div>
                    {% elif order.products.count == 2 or order.products.count == 3 %}
                        <div class="row g-0">
                            {% for product in order.products.all %}
                                <img class="col-sm-12 object-fit-cover" src="{{ product.image.url }}" alt="{{ order }}">
                            {% endfor %}
                        </div>
                    {% else %}
                        <div class="row g-0">
                        {% for product in order.products.all %}
                            <img class="col-6 object-fit-cover" src="{{ product.image.url }}" alt="{{ order }}">
                        {% endfor %}
                        </div>
                    {% endif %}
                    </div>

                    <div class="card-body info col-sm-7">
                        <div class="d-flex flex-column mb-4">
                            <span>Date: </span>
                            <span>{{ order.created_at | date:"d.m.Y" }}</span>
                        </div>
                        <div class="d-flex flex-column mb-4">
                            <span>Status: </span>
                            <span>{{ order.status }}</span>
                        </div>
                        <div class="d-flex flex-column mb-4">
                            <span>Total: </span>
                            <span class="price">{{ order.total_price }}</span>
                        </div>
        
                        <a href="{ order.get_absolute_url }" class="btn btn-dark border">
                            Order Details
                        </a>
                    </div>

                </div>
                <!-- <img src="{{order.products.first.image.url}}" alt="{{ order }}"> -->
            </div>
        </div>
        {% empty %}
        <div class="col-12 no-items bg-body-tertiary rounded" id="empty-orders">
            <img src="{% static 'img/shopping-cart.svg' %}" alt="" />
            <h6 class="my-4">You have no orders</h6>
        </div>
        {% endfor %}
    </div>

{% endblock profile-content %}