{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock css %}

{% block content %}
<main id="profile-main">
    <div class="row pt-lg-4">
        {% include 'includes/profile-tabs.html' %}
        <div class="col-lg-9">
        {% block profile-content %}
            
        {% endblock profile-content %}
        </div>
    </div>
</main>
{% endblock content %}

{% block js %}

<script>

const activeProfileTab = location.pathname

if ( ! $(`.nav-item .nav-link.active`).length ){
	$(`.nav-item .nav-link#profile-link`).addClass('active')
}

</script>
{% block profile-js %}
{% endblock profile-js %}
<script>
const icon = $(`.profile-main li a[href="${activeProfileTab}"] img`)[0]

icon.src = icon.src.replace(/.svg$/, '-green.svg')
$(`.profile-main li a[href="${activeProfileTab}"] span`).addClass('active')

</script>

{% endblock js %}