{% extends 'base.html' %}
{% load static %}

{% block title %}{% endblock title %}

{% block css %}
    <style>
        main {
            .form-control {
                min-height: 3rem;
                max-height: 6rem;
                resize: none;
            }
        }

        #profile-tabs a.active { color: var(--bs-emphasis-color); }

        .info span:first-child {
            font-size: .75rem;
            color: rgba(var(--bs-body-color-rgb), 0.71);
        }
    </style>
    {% block profile-css %}{% endblock profile-css %}
{% endblock css %}

{% block content %}
    <main class="container-fluid bg-body-secondary bg-opacity-50">
        <div class="row justify-content-center pb-4 pt-lg-4">
            <div class="col-lg-3 pt-5 pb-3 pb-lg-0">
                {% include 'components/profile-tabs.html' %}
            </div>
            <div class="col-lg-9">
                {% block profile-content %}

                {% endblock profile-content %}
            </div>
        </div>
    </main>
{% endblock content %}

{% block js %}
    <script>
        $(`#profile-tabs a[href="${location.pathname.replace(/\d*$/, '')}"]`).addClass('active');
    </script>
    {% block profile-js %}{% endblock profile-js %}
{% endblock js %}
