{% extends 'profile-base.html' %}
{% load static %}

{% block title %}Wishlist - {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/profile.css' %}??">
<style>
    #empty-wishlist {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        border-radius: 5px;
        gap: 1.5rem;
        height: 100%;
        background-color: white;
        color: #BDBDBD;
    }
</style>
{% endblock css %}

{% block profile-content %}
    
    <div class="text-center text-lg-start py-3">
        <h4 class="d-md-none mb-3">My Account</h4>
        <h5>Wishlist</h5>
    </div>

    {% if favorites %}
    <div class="row gy-5 pb-5 pe-lg-1">
        {% for product in favorites %}
            {% include 'components/product.html' %}
        {% endfor %}
    </div>
    {% else %}
        <div id="empty-wishlist">
            <img src="{% static 'img/heart-empty.svg' %}" alt="">
            <h6>Your wishlist is empty</h6>
        </div>
    {% endif %}

{% endblock profile-content %}

{% block profile-js %}
<script src="{% static 'js/update-favorites.js' %}"></script>
{% endblock profile-js %}