{% extends 'profile-base.html' %}
{% load static %}

{% block title %}Wishlist - {% endblock title %}

{% block profile-content %}

    <div class="text-center text-lg-start py-3">
        <h4 class="d-md-none mb-3">My Account</h4>
        <h5>Wishlist</h5>
    </div>

    <div class="row gy-5 pb-5 pe-lg-1">
        {% for product in favorites %}
            {% include 'components/product.html' %}
        {% endfor %}
        <div id="empty-wishlist" class="col-12 no-items bg-body-tertiary" {% if favorites %}style="display: none;"{% endif %}>
            <img src="{% static 'img/heart-empty.svg' %}" alt="">
            <h6 class="my-4">Your wishlist is empty</h6>
        </div>
    </div>

{% endblock profile-content %}

{% block profile-js %}
<script src="{% static 'js/update-favorites.js' %}"></script>
<script>
    $('.product .heart').on('click', function(){
        const $product = $(this).closest('.product');
        updateFavorites($product.prop('id'));
        $product.fadeOut(150, () => {
            $product.remove();
            if (!$('.product').length) {
                $('#empty-wishlist').show();
            }
        });
    })
</script>
{% endblock profile-js %}