{% load static %}

<div class="sidebar d-flex justify-content-center col-9 col-lg-3" id="profile-tabs">
    <ul class="d-flex flex-column gap-4">
        <h5 class="text-center text-lg-start pb-0">My Account</h5>
        <li>
            <a href="{% url 'accounts:orders' %}">
                <img src="{% static 'img/cart.svg' %}" alt="">
                <span>My orders</span>
            </a>
        </li>
        <li>
            <a href="{% url 'accounts:wishlist' %}">
                <img src="{% static 'img/heart.svg' %}" alt="">
                <span>Wishlist</span>
            </a>
        </li>
        <li>
            <a href="{% url 'accounts:profile-info' %}">
                <img src="{% static 'img/person.svg' %}" alt="">
                <span>Personal information</span>
            </a>
        </li>
        <li>
            <a href="{% url 'accounts:address' %}">
                <img src="{% static 'img/pin.svg' %}" alt="">
                <span>Shipping address</span>
            </a>
        </li>
        <li>
            <a href="{% url 'accounts:logout' %}">
                <img src="{% static 'img/log-out.svg' %}" alt="">
                <span>Log out</span>
            </a>
        </li>
    </ul>
</div>
