{% extends 'base.html' %}
{% load static %}

{% block title %}{{ product.title }} - {% endblock title %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/detail.css' %}">
<style>
    #carousel {
        max-height: 50vh;
    }
    .carousel-control-prev-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
        filter: none !important;
    }
    .carousel-control-next-icon {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
        filter: none !important;
    }
</style>
{% endblock css %}

{% block content %}

    <div class="container-fluid">
        <div class="row pt-5">

            <div class="col-lg-6">
                <!-- <div class="product-path-cont">
                    <p class="list-path mb-5"> 
                        <img src="{% static 'img/arrow.svg' %}" alt="">
                        <span style="color: #828282;">
                        </span>
                    </p>
                </div> -->

                <div id="carousel" class="carousel slide d-flex">
                    <div class="carousel-inner d-flex">
                        <div class="carousel-item active">
                            <img class="w-100 h-100 object-fit-cover" src="{{product.image.url}}" alt="{{product}}">
                        </div>
                        {% for image in product.images.all %}
                        <div class="carousel-item">
                            <img class="w-100 h-100 object-fit-cover" {% if image.color %} data-color-name="{{image.color.color_name}}" {% endif %} src="{{image.url}}" alt="{{product}}">
                        </div>
                        {% endfor %}
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carousel" data-bs-slide="prev">
                        <i class="carousel-control-prev-icon" aria-hidden="true"></i>
                        <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carousel" data-bs-slide="next">
                        <i class="carousel-control-next-icon" aria-hidden="true"></i>
                        <span class="visually-hidden">Next</span>
                    </button>
                </div>
            </div>

            <div class="col-lg-6 pt-2">
                <form method="post">
                    {% csrf_token %}

                    <input type="hidden" name="product_id" value="{{ product.id }}">

                    <h2 class="product-title">{{ product.title }}</h2>

                    <div class="product-rating">
                    {% if product.rating.rating %}
                        <div class="stars d-inline-block">
                            {{ product.rating.render_stars_html | safe }}
                        </div>
                        <span class="pe-2 border-end" style="font-size: .75rem;">{{ product.reviews.count }}</span>
                        <a href="#comment-part" class="ps-1" style="font-size: .9rem; color: #2D9CDB;">{{ product.comments.count }} comments</a>
                    {% else %}
                        <p class="rating-text">No reviews</p>
                    {% endif %}
                    </div>

                    <div class="prices d-flex">
                        {% if product.old_price %}
                            <span id="old-price" class="old-price card-text">{{ product.old_price}} $</span>
                        {% endif %}

                        <span id="price" class="price card-text"> {{ product.price }} $</span>
                    </div>

                    {% if colors %}
                    <div id="colors" class="d-flex align-items-center gap-4 pt-4">
                        <span>Color: </span>
                        <input type="hidden" name="color">
                        {% for i in colors %}
                            <div onclick="selectColor(this)" class="color rounded-circle border border-light" data-color-name="{{ i.color_name }}" style="background-color: {{ i.color }};"></div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    {% if storages %}
                    <div id="storages" class="d-flex align-items-center gap-4 py-4">
                        <span>Storage: </span>
                        <input type="hidden" name="storage">
                        {% for i in storages %}
                            <div onclick="selectStorage(this)" class="storage border-0 rounded btn btn-light p-0" data-add-price="{{ i.price }}" data-storage="{{ i.storage }}">{{ i.size_format }}</div>
                        {% endfor %}
                    </div>
                    {% endif %}

                    <hr class="my-1" />

                    <div id="quantity" class="quantity d-flex gap-4 align-items-center pt-4 pb-5">
                        <input name="quantity" value="1" type="hidden">
                        <button class="btn btn-light rounded-circle" onclick="changeCount(-1)">
                            <i class="fas fa-minus"></i>
                        </button>

                        <span>1</span>

                        <button class="btn btn-light rounded-circle" onclick="changeCount(1)">
                            <i class="fas fa-plus"></i>
                        </button>
                    </div>

                    <div class="d-flex">
                        <button type="submit" id="cart-btn" class="btn btn-primary py-2 px-4 me-4">
                            <i class="far fa-cart-shopping me-3"></i>
                            Add to cart
                        </button>

                        <button type="button" id="wishlist-btn" class="btn btn-outline-primary">
                            <i class="far fa-heart me-2"></i>
                            {% if not product in user.favorites.all %}
                            <span>Add to wishlist</span>
                            {% else %}
                            <span>Remove from wishlist</span>
                            {% endif %}
                        </button>
                    </div>

                </form>
            </div>

        </div>
    </div>

    <div class="container mt-5">
        <div class="product-tabs d-flex gap-5 border-bottom mt-5 pb-3">
            <button id="info-button" class="btn border-0">Specifications</button>
            <button id="comment-button" class="btn border-0">Comments</button>
        </div>
    </div>

    <section class="container-fluid" id="info-part" style="padding-left: 100px; margin-bottom: 100px; padding-top: 32px;">
        <div class="row">
            <div class="col-md specifications">
                <h2>Specifications</h2>
                    <div>
                        <span>Brand</span>
                        <span>{{product.brand}}</span>
                    </div>

                {% for key, value in product.specifications %}
                    <div>
                        <span>{{ key }}</span>
                        <span>{{ value }}</span>
                    </div>
                {% endfor %}
            </div>
            {% if product.description %}
            <div class="col-md specifications">
                <h2>About this product</h2>
                <div>
                    <p>{{product.description}}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </section>

    <section class="container-fluid" id="comment-part">

        {% if user.is_authenticated %}
        <form id="comment-form" method="post">
            {% csrf_token %}
            <h4>Write a review</h4>

            <div class="d-flex">
                <label for="name">Rating</label>

                <select class="d-none" name="comment-rating" id="comment-rating">
                    <option value="0">0</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>

                <div class="stars ms-3">
                    <img onclick="setRating(1)" src="{% static 'img/star-empty.svg' %}" alt="1">
                    <img onclick="setRating(2)" src="{% static 'img/star-empty.svg' %}" alt="2">
                    <img onclick="setRating(3)" src="{% static 'img/star-empty.svg' %}" alt="3">
                    <img onclick="setRating(4)" src="{% static 'img/star-empty.svg' %}" alt="4">
                    <img onclick="setRating(5)" src="{% static 'img/star-empty.svg' %}" alt="5">
                </div>
            </div>

            <div class="text-start">
                <label for="text">Text</label>
                <textarea class="form-control mt-1" id="comment-text" rows="4" name="text" placeholder="Your comment..." required></textarea>
            </div>

            <div class="text-end">
                <input class="btn btn-primary col-5 col-sm-4 col-md-3" type="submit" value="Submit">
            </div>

        </form>
        {% endif %}

        {% if comments %}
        <div id="comments" class="comments">
            {% for i in comments %}
            <div class="comment row" id="{{ i.id }}">

                <div class="col-md-3 text-center">
                    <h2>{{i.rating}}</h2>
                    <div class="stars">
                        {{ i.rating.render_stars_html | safe }}
                    </div>
                </div>

                <div class="col-md-9">
                    <div class="comment-info d-flex justify-content-between">
                        <h5>{{i.author.full_name}}</h5>
                        <h6>{{i.created_at | date:"M d, Y"}}</h6>
                    </div>

                    <p>{{i.text}}</p>

                    {% if i.author == request.user %}
                        <button onclick="deleteComment('{{i.id}}')" class="btn btn-dark">
                            Delete comment
                        </button>
                    {% endif %}
                </div>

                {% if not forloop.last %}
                    <hr class="w-100 mt-4" style="color: #C4C4C4;" />
                {% endif %}

            </div>
            {% endfor %}
        </div>
        {% else %}
        <div class="no-items">
            <h1>No comments yet...</h1>
            <img src="{% static 'img/no-items.svg' %}" alt="">
        </div>
        {% endif %}

    </section>

{% endblock content %}
{% block js %}
<script>

    const productId = parseInt('{{ product.id }}')
    const initialPrice = parseInt('{{ product.price }}')
    const initialOldPrice = parseInt('{{ product.old_price }}')

</script>
<script src="{% static 'js/detail.js' %}?">

    // {% if colors %}
    let color = sessionStorage.getItem('color')
    color = $(`.color[colorname='${color}']`)
    if (!color.length){
        color = $('.color').first()
    }
    selectColor(color)
    // {% endif %}

    // {% if storages %}
    let storage = sessionStorage.getItem('storage')
    storage = $(`.storage[storage='${storage}']`)
    if (!storage.length){
        storage = $('.storage').first()   
    }
    selectStorage(storage)
    // {% endif %}

</script>
{% endblock %}