{% extends 'base.html' %} 
{% load static %}
<!DOCTYPE html>
{% block content %}
<main class="position-relative">

<img class="hero" src="{% static 'img/hero-dark.jpeg' %}" alt="Hero" id="hero-dark">
<img class="hero" src="{% static 'img/hero-light.jpeg' %}" alt="Hero" id="hero-light">

    <div class="cards-container">
        <div class="card-section">
            <h4>Bestsellers</h4>
            <div class="cards-row mt-5">
                <div class="row">
                {% for product in bestsellers %}
                    <div id="{{product.id}}" class="col-sm-6 col-md-4 col-xl-3 product mb-5 mb-xl-0">
                        <div class="card">
                            <a href="{% url 'core:detail' product.id %}">
                                <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.title }}</h5>

                                    <p class="card-text price">
                                        {% if product.old_price %}
                                        <span id="old-price" class="card-text">{{ product.old_price}} $</span>{{ product.price }} $
                                        {% else %}
                                        {{ product.price }} $
                                        {% endif %}
                                    </p>

                                    <a class="heart-cont">
                                        <button onclick="updateFavorites({{product.id}})">
                                            {% if not product in favorites %}
                                            <img src="{% static 'img/heart2.svg' %}" alt="❤️">
                                            {% else %}
                                            <img src="{% static 'img/heart-red.svg' %}?" alt="🤍">
                                            {% endif %}
                                        </button>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>

        <div class="card-section" style="margin-top: 80px;">
            <h4>New Arrivals</h4>
            <div class="cards-row mt-5">
                <div class="row">
                {% for product in newproducts %}
                    <div id="{{product.id}}" class="col-sm-6 col-md-4 col-xl-3 product mb-5 mb-xl-0">
                        <div class="card">
                            <a href="{% url 'core:detail' product.id %}">
                                <img class="card-img-top" src="{{ product.image.url }}" alt="Card image cap">
                                <div class="card-body">
                                    <h5 class="card-title">{{ product.title }}</h5>

                                    <p class="card-text price">
                                        {% if product.old_price %}
                                        <span id="old-price" class="card-text">{{ product.old_price}} $</span>{{ product.price }} $
                                        {% else %}
                                        {{ product.price }} $
                                        {% endif %}
                                    </p>

                                    <a class="heart-cont">
                                        <button onclick="updateFavorites({{product.id}})">
                                            {% if not product in favorites %}
                                            <img src="{% static 'img/heart2.svg' %}" alt="❤️">
                                            {% else %}
                                            <img src="{% static 'img/heart-red.svg' %}?" alt="🤍">
                                            {% endif %}
                                        </button>
                                    </a>
                                </div>
                            </a>
                        </div>
                    </div>
                {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <!-- <div class="banners">
        <div style="padding: 75px;" class="banners-inner">
            <div class="row">
                <div class="col-md-6">
                    <div>
                        <img src="https://cdn1.it4profit.com/AfrOrF3gWeDA6VOlDG4TzxMv39O7MXnF4CXpKUwGqRM/resize:fit:1400:600:0/bg:ffffff/q:100/plain/s3://complex-images/13/2375/2100-ru-1.png@jpeg" alt="">
                    </div>
                </div>
                <div class="col-md-6">
                    <div>
                        <img src="https://cdn1.it4profit.com/AfrOrF3gWeDA6VOlDG4TzxMv39O7MXnF4CXpKUwGqRM/resize:fit:1400:600:0/bg:f5f5f7/q:100/plain/s3://complex-images/13/2185/2100-ru-1.png@jpeg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div> -->

    <div class="services" style="margin-bottom: 81px;">
        <div style="padding: 75px;">
            <div class="row">
            <div class="col-md-4 text-center">
                <img src="{% static 'img/box.svg' %}" alt="">
                <h4>Shipping</h4>
                <p class="icon-texts">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
            </div>
            <div class="col-md-4 text-center">
                <img src="{% static 'img/card-pos.svg' %}" alt="">
                <h4>Credit</h4>
                <p class="icon-texts">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
            </div>
            <div class="col-md-4 text-center">
                <img src="{% static 'img/medal-star.svg' %}" alt="">
                <h4>Warranty</h4>
                <p class="icon-texts">Lorem ipsum dolor sit amet, consectetur adipiscing elit </p>
            </div>
            </div>
        </div>
    </div>

</main>

{% endblock %}

{% block js %}
<script src="{% static 'js/update-favorites.js' %}"></script>
{% endblock js %}