{% extends 'base.html' %}
{% load static %}

{% block title %}Products - {% endblock title %}

{% block content %}
<main class="py-5">

	<div class="row m-0 justify-content-center">

		<div class="d-flex d-lg-none justify-content-center w-100">
			<div class="dropdown w-50">
				<button class="btn btn-dark border rounded-0 w-100 h-100 p-3" type="button" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					<!-- <img src="{% static 'img/swap.svg' %}" style="width: 25px;" alt=""> -->
					<i class="fa-regular fa-arrow-up-arrow-down"></i>
					{{ sort }}
				</button>
				<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
					{% if request.GET.sort %}
					<a class="dropdown-item" href="?{{args}}">
						Sort: Newest
					</a>
					{% endif %}
					{% if not request.GET.sort == 'price-asc' %}
					<a class="dropdown-item" href="?sort=price-asc&{{args}}">
						Sort: Cheapest
					</a>
					{% endif %}
					{% if not request.GET.sort == 'price-desc' %}
					<a class="dropdown-item" href="?sort=price-desc&{{args}}">
						Sort: Most Expensive
					</a>
					{% endif %}
				</div>
			</div>
			<div class="w-50">
				<button class="btn btn-dark border rounded-0 w-100 h-100 p-3" type="button" onclick="$('#sidebar').toggle()">
					<!-- <img src="{% static 'img/filter.svg' %}" style="width: 20px;" alt=""> -->
					<i class="fa-regular fa-filter"></i>
					Filters
				</button>
			</div>
		</div>

		<div style="display: none;" id="sidebar" class="d-lg-flex flex-column col-9 col-lg-3 gap-3 mt-3">

			<!-- <p class="list-path">
			Home <img src="{% static 'img/arrow.svg' %}">
			Products <img src="{% static 'img/arrow.svg' %}">
			<span></span>
			</p> -->

			<!-- Filters -->
			<div class="filter card">
				<div class="card-header">
					<h5 class="mb-0">
						Brand ({{brands.count}})
					</h5>
				</div>
				<div class="card-body">
					<ul>
					{% for i in brands %}
						<li>
							<span>
								<label>{{i.title}}
									<input type="checkbox" onchange="applyFilter(this, 'brand', '{{i.title}}')"
									{% if request.GET.brand.lower == i.title.lower %} checked {% endif %}>
								</label>
							</span>
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>

			<div class="filter card">
				<div class="card-header">
					<h5 class="mb-0">
						Type ({{types.count}})
					</h5>
				</div>
				<div class="card-body">
					<ul>
					{% for i in types %}
						<li>
						<span>
							<label>{{i.title}}
								<input type="checkbox" onchange="applyFilter(this, 'type', '{{i.title}}')"
								{% if request.GET.type.lower == i.title.lower %} checked {% endif %}>
							</label>
						</span>
						</li>
					{% endfor %}
					</ul>
				</div>
			</div>

			<div class="filter card">
				<div class="card-header">
					<h5 class="mb-0">
						Category ({{categories.count}})
					</h5>
				</div>

				<div class="card-body">
					<ul>
					{% for i in categories %}
						<li>
						<span>
							<label>{{i}}
								<input type="checkbox" onchange="applyFilter(this, 'category', '{{i}}')"
								{% if request.GET.category.lower == i.lower %} checked {% endif %}>
							</label>
						</span>
						</li>
					{% endfor %}
					</ul>
				</div>

			</div>

			<div class="d-flex justify-content-center">
				<button onclick="location.search=''" class="btn btn-dark">
				Reset all filters
				</button>
			</div>

		</div>

		<div class="col-12 col-lg-9 pt-4 pt-lg-0">
		{% if success %}
			<div class="d-flex justify-content-between align-items-center px-3">
				<span>{{ page.paginator.count }} products found</span>
				<div class="dropdown">
					<button class="btn border dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
						Sort: {{ sort }}
					</button>
					<div class="dropdown-menu p-0" aria-labelledby="dropdownMenuButton">
						{% if request.GET.sort %}
						<a class="dropdown-item py-2" href="?{{args}}">
							Sort: Newest
						</a>
						{% endif %}
						{% if not request.GET.sort == 'price-asc' %}
						<a class="dropdown-item py-2" href="?sort=price-asc&{{args}}">
							Sort: Cheapest
						</a>
						{% endif %}
						{% if not request.GET.sort == 'price-desc' %}
						<a class="dropdown-item py-2" href="?sort=price-desc&{{args}}">
							Sort: Most Expensive
						</a>
						{% endif %}
					</div>
				</div>
            </div>

            <div class="row gy-5 py-5">
			{% with favorites=user.favorites.all %}
				{% for product in page %}
					{% include 'components/product.html' %}
				{% endfor %}
			{% endwith %}
            </div>

            <nav class="d-flex justify-content-center" aria-label="Pagination">
                <ul class="pagination">
                {% if page.has_previous %}
                    <li class="page-item d-flex align-items-center">
						<a class="page-link fa-solid fa-angle-left" href="?page=1&{{args}}" aria-label="Previous"></a>
                    </li>
                {% endif %}

                {% for i in page.paginator.page_range %}
                    <li class="page-item d-flex align-items-center">
						<a class="page-link fs-5" href="?page={{i}}&{{args}}">{{ i }}</a>
					</li>
                {% endfor %}

                {% if page.has_next %}
                    <li class="page-item d-flex align-items-center">
						<a class="page-link fa-solid fa-angle-right" href="?page={{ paginator.num_pages }}&{{args}}" aria-label="Next"></a>
                    </li>
                {% endif %}
                </ul>
            </nav>

		{% else %}
			<div class="no-items">
				<h2>No products found</h2>
				<img src="{% static 'img/no-items.svg' %}" alt="">
			</div>
		{% endif %}
		</div>

	</div>

</main>
{% endblock content %}
{% block js %}
<script src="{% static 'js/update-favorites.js' %}?"></script>
<script>

if ( ! $(`.nav-item .nav-link.active`).length ){
	$(`.nav-item .nav-link[href="/list/"]`).addClass('active')
}

function applyFilter(checkbox, key, value) {
	if (checkbox.checked) {
		const regex = new RegExp(`(${key}=[^&]*)`)
		if (regex.test(location.search)) {
			location.search = location.search.replace(regex, `${key}=${value}`)
		} else if (!location.search.startsWith('?')) {
			location.search = `?${key}=${value}`
		} else {
			location.search += `&${key}=${value}`
		}
	}
	else {
		value = value.replace(' ', '%20')
		const regex = new RegExp(`(&|\\?)${key}=${value}`)
		location.search = location.search.replace(regex, '').replace(/^&/, '?')
	} 
}

</script>
{% endblock %}